@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #111827;
}

.text-electric {
  color: #7000FF;
}
.bg-electric {
  background-color: #7000FF;
}
.bg-electric:hover {
  background-color: #5A00CC;
}
.border-electric {
  border-color: #7000FF;
}
